sftp-config.json
*.DS_Store
build/
docs/latex
build.config
build.env
build-new.config
build-new.env
.tags*
tags
*.ptx
*.mex*

backup/
results/*.out
timing_*/
timing/
timing-*/
prof-results/

tmp*
out*


-y
